/* CSS dos formulários */

.adicionar-elemento {
    display: flex;
    justify-content: flex-end;
}

.form {
    box-sizing: border-box;
    padding: 0 2rem;
    width: 100%;
}

.form__titulo {
    padding: 1rem 1rem 1rem 0;
}

.form__formulario {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.form__conjunto {
    display: flex;
    flex-direction: column;
    width: 100%;
}