.input {
    position: relative;
    top: 6px;
    left: 6px;
    z-index: 999;
    background: white;
    padding: 0 0.5rem;
    font-size: 0.7rem;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.00938em;
    line-height: 1.4375em;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    width: fit-content;

  }
.inputContainer {
    display: flex;
    flex-direction: column;

}