.login__container {
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 1rem;
}

@media screen and (max-height: 744px) {
    .login {
        max-width: 1280px;
    }
}