body {
  background: linear-gradient(45deg, rgba(221,237,221,1) 0%, rgba(203,251,255,1) 49%, rgba(186,255,226,1) 100%);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1600px) {
  html {
      font-size: 14px;
  }
}